---
---
/* Import helpers from Denali */
@import "denali-css/scss/denali-helpers";

// More media size selectors
.hide-desktop-down {
    @include media-size-down(desktop) {
        display: none !important;
    }
}

.hide-desktop-up {
    @include media-size-up(desktop) {
        display: none !important;
    }
}

.hide-hd-down {
    @include media-size-down(hd) {
        display: none !important;
    }
}

.hide-hd-up {
    @include media-size-up(hd) {
        display: none !important;
    }
}


/* Helpers that need to be added */

/* Variables copied from theme */
// Re-brand colors
$color-brand-100: #FFFFFF;
$color-brand-200: #D0F3DE;
$color-brand-300: #61D790;
$color-brand-400: #2E2F27;
$color-brand-500: #4D4D4D;
$color-brand-600: #000000;
$color-brand-700: #0246C9;
$color-brand-800: #5E93FB;

h1, h2, h3, h4, h5, h6, blockquote {
    white-space: unset;
    text-wrap: balance;
}

.has-bg-brand-200 {
    background-color: $color-brand-200 !important;
}
.has-bg-brand-300 {
    background-color: $color-brand-300 !important;
}
.has-bg-brand-400 {
    background-color: $color-brand-400 !important;
}
.has-bg-brand-500 {
    background-color: $color-brand-500 !important;
}

.is-brand-100 {
    color: $color-brand-100 !important;
}
.is-brand-200 {
    color: $color-brand-200 !important;
}
.is-brand-300 {
    color: $color-brand-300 !important;
}
.is-brand-400 {
    color: $color-brand-400 !important;
}
.is-brand-500 {
    color: $color-brand-500 !important;
}
.is-brand-600 {
    color: $color-brand-600 !important;
}
.is-brand-700 {
    color: $color-brand-700 !important;
}
.is-brand-800 {
    color: $color-brand-700 !important;
}

/* TODO: Border radiius circle and pill */
.br-circle {
    border-radius: 100%;
}

/* Gutters should be applied to rows */
/* Add a gutter size override too. */
.is-gutterless > .col {
    margin: 0px !important;
}

/* TODO: Add additional flexbox helpers */
.flex-wrap {
    flex-wrap: wrap;
}
.align-items-flex-end {
    align-items: flex-end;
}

/* NOTE: Add font weight override to nav items */
/* Add loop for height helpers */
.h-50 {
    height: 50px;
}
.h-40 {
    height: 40px;
}
.h-35 {
    height: 35px;
}

/* TODO: Lineheight Helpers */
.line-height-compact {
    //line-height: 1 !important;
}

/* TODO: Add overflow helpers */
.overflow-hidden {
    overflow: hidden;
}

/* TODO: Add body font-size override */
/* TODO: Background image helpers */
/* TODO: Button full size at breakpoints */
/* TODO: Navbar overflow */

/* Add sticky */
.sticky-top {
    position: sticky;
    top: 0;
}



/* Styles for the site */

/* Navbar */
.nav {
    font-weight: 700;
    z-index: 100;
    .menu-content a {
        color: $color-brand-400;
    }
    .menu-content a:hover {
        color: rgba($color-brand-400, 0.8) !important;
    }
}

// Responsive design; downscaled nav bar for small desktop screens
@include media-size-only(small-desktop) {
    .nav .nav-left {
        width: 160px !important;
    }

    .nav .nav-responsive {
        width: calc(100% - 160px) !important;
    }

    .nav .nav-item {
        font-size: 1.4rem !important;
        padding-right: 6px;
        padding-left: 6px;
    }

    .nav .nav-right .nav-item {
        padding-left: 6px !important;
        padding-right: 6px !important;
    }

    .nav-item .d-icon {
        font-size: 2.0rem !important;
    }

    .nav .nav-left img.nav-brand {
        height: auto;
    }
}

@media (min-width: 899px) {
    .nav {
        .nav-responsive {
            width: calc(100% - 250px);
        }

        .nav-left {
            width: 250px;
        }
    }
}


input.section-searchbar {
    background: rgba($color-brand-400, 0.13) !important;
    color: $color-brand-400 !important;
    font-weight: 200 !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

input.section-searchbar::placeholder {
    color: $color-brand-400 !important;
}

button.section-searchbar {
    background: rgba($color-brand-400, 0.13) !important;
}

.nav-item.section-searchbar {
    padding-top: 14px;
}

.section-founders {
    h3 {
        margin-top: 0 !important;
    }

    h2 {
        margin-bottom: 50px !important;
    }

    .founder-image {
        text-align: center;
    }
}

/* Cover */
.container-cover {
    background-color: $color-brand-300;
}

.section-cover-banner {
    p {
        text-align: center;
        img {
            vertical-align: middle;
            max-height: 50px;
            margin-right: 10px;
        }
    }
    a {
        font-weight: 600;
        font-size: 20px;
        text-decoration: #2E2F27;
        text-decoration-line: underline;
        color: #2E2F27;
    }
    a:hover {
        color: #5D5D5D;
        text-decoration: #5D5D5D;
        text-decoration-line: underline;
    }
}
.section-cover {
    padding: 34px 0 55px 0;

    .paragraph-header {
        font-family: Libre Baskerville;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 160% !important;
    }

    .paragraph {
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
    }

    h1 {
        font-size: 72px;
        font-style: normal;
        font-weight: 500 !important;;
        line-height: 120% !important;
        margin: 0 !important;
    }
}

.section-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section-cover--image {
    background-image: url("{{ site.baseurl }}/assets/vespa-banner-image.png");
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: url('{{ site.baseurl }}/assets/vespa-banner-image@2x.png');
    }
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

.section-pitch {
    display: flex;
    flex-direction: column;
    gap: 21px;
    padding: 55px 10px;

    h1 {
        font-size: 48px;
        font-style: normal;
        font-weight: 500 !important;;
        line-height: 120% !important;
        margin: 0 !important;
    }

    p {
        margin: 0 !important;
    }
}

.row-gap-usecases {
    row-gap: 21px;
}

.section-usecases {
    display: flex;
    flex-direction: column;
    padding: 55px 0;
    gap: 55px;

    h1 {
        font-size: 48px;
        font-style: normal;
        font-weight: 500 !important;;
        line-height: 120% !important;
        margin: 0 !important;
    }

    h2 {
        font-size: 34px;
        font-style: normal;
        font-weight: 500 !important;;
        line-height: 120% !important;
        margin: 0 !important;
    }

    .container-usecases {
        display: flex;
        flex-direction: column;
        gap: 89px;
    }

    .text-usecase {
        display: flex;
        flex-direction: column;
        gap: 13px;
        white-space: unset;
        text-wrap: balance;
    }

    .image-usecase {
        display: flex;
        flex: 1;
        justify-content: center;

        img {
            width: 233px;
            height: 233px;
        }
    }

    .more {
        white-space: nowrap;
    }

    .more-usecases {
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
    }

    p {
        margin: 0 !important;
    }
}

.row-gap-features {
    row-gap: 55px;
}

.section-features {
    display: flex;
    flex: 1;
    gap: 21px;
    flex-direction: column;
    padding: 0 34px;
    justify-content: flex-end;

    h2 {
        font-size: 20px;
        font-style: normal;
        font-weight: 600 !important;;
        line-height: 160% !important;
        margin: 0 !important;
    }

    p {
        margin: 0 !important;
    }
}

.section-users {
    padding: 55px 0 89px 0;
    justify-content: center;
    row-gap: 89px;

    h1 {
        font-size: 34px;
        font-style: normal;
        font-weight: 500 !important;;
        line-height: 120% !important;
        margin: 0 !important;
        text-align: center;
    }

    .user-logo {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            display: block;
            max-width: 265px;
            width: 100%;
            height: 55px;
            object-fit: contain;
        }
    }

    p {
        margin: 0 !important;
    }

}

.section-pressreleases {
    .pr-title {
        line-height: 1.5 !important;
    }
}


@media (max-width: 999px) {
    .section-cover--video-modal {
        width: 650px !important;
    }

    .section-cover--video-modal iframe#modal-video-frame {
        width: 560px;
        height: 315px;
    }
}

@media (min-width: 1000px) {
    .section-cover--video-modal {
        width: 975px !important;
    }

    .section-cover--video-modal iframe#modal-video-frame {
        width: 840px;
        height: 473px;
    }
}

/* Blog */
.section-blog--image {
    height: 150px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.section-blog--box {
    height: 100%;
    width: 100%;

}

.section-blog-row {
    row-gap: 21px;

    h2 {
        font-size: 28px;
        font-style: normal;
        line-height: 120%;
    }
}

.more-blogs {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}


/* Getting started */
.section-gettingstarted {
    padding: 55px 0;

    .gettingstarted-box {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 21px;
    }

    .paragraph-header {
        font-family: Libre Baskerville;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 160% !important;
    }

    .paragraph {
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
    }

    h1 {
        color: $color-brand-400;
        text-edge: cap;
        font-size: 48px;
        font-style: normal;
        font-weight: 500 !important;;
        line-height: 120% !important;
        margin: 0 !important;
    }

    p {
        margin: 0 !important;
    }

}

/* Footer */
.section-footer--header {
    font-weight: 600 !important;
    margin: 0 !important;
}

.section-footer--link {
    font-weight: 400 !important;
    color: $color-brand-300 !important;
}

.section-footer--copyright {
    align-self: flex-end;
    align-items: flex-end;
    color: $color-brand-300 !important;
    h6 {
        font-weight: 600 !important;
    }
}

/* Fix anchored links being hidden under navbar */
h1[id]::before, h2[id]::before, h3[id]::before, h4[id]::before {
    display: block;
    content: " ";
    margin-top: -75px;
    height: 75px;
    visibility: hidden;
}

/* Want to hide tables under navbar as well */
table {
    position: static !important;
}

pre {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 1.3rem !important;
    -webkit-font-smoothing: auto;
    overflow: auto;
    page-break-inside: avoid;
    display: block;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    border: 1px solid #ccc;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
    padding: 14px !important;
    margin-bottom: 10px;
}

html {
    background-color: $color-brand-400;
}

body {
    font-size: 1.6rem;
}