---
---
/* Overrides for light theme only */

/* Variables copied from theme */
$color-brand-300: #61D790;
$color-brand-400: #2E2F27;

button.section-searchbar {
    background: rgba($color-brand-300, 0.08) !important;
    color: $color-brand-400 !important;
}