    <!-- Header -->
    <header>
        <div class="layer">
            <div class="intro container">
                <div class="intro-logo container"><img src="{{ site.baseurl }}/img/VespaIcon.png" class="img-responsive center-block"/></div>
                <div class="intro-lead-in">Big data. Real time. Cloud.</div>
                <div class="intro-long">The open big data serving engine is now available in the cloud!</div>
                <a href="mailto:support@vespa.ai" class="btn btn-xl intro-button">Sign Up</a>
                <div class="intro-down-arrow"><a href="#features"><img src="{{ site.baseurl }}/img/down-arrow.svg" height="36" width="36" /></a></div>
            </div>
        </div>
    </header>
