<!-- Copyright Verizon Media. All rights reserved. -->
<!-- Cover -->
<div class="container-full is-marginless has-bg-brand-400">
    <div class="container">
        <div class="row section-cover">
            <div class="xs-col-1-1 sm-col-1-1 md-col-5-12 lg-col-5-12 xl-col-5-12 flex-column align-self-center">
                <h1 class="is-grey-100">Big Data. AI. Online.</h1>
                <div class="is-grey-100 paragraph-header">Make AI-driven decisions using your data, in real time. At any scale, with unbeatable performance.</div>
                <div class="flex tablet-down-flex-column m-t-35">
                    <a class="button is-solid is-inverse is-large m-y-5"
                        href="https://docs.vespa.ai/en/getting-started.html">Get Started</a>
                    <a class="button is-text is-inverse is-large m-y-5"
                        href="#open-video-modal"><i class="d-icon d-play-circle is-small"></i>Watch Video</a>
                    {% include youtube-modal.html videoId="V3c5p2JopzQ" %}
                </div>
                <div class="flex m-t-40 align-items-center flex-wrap">
                    <div class="is-grey-100 paragraph-header"><span class="is-brand-500">Open source:</span>
                        <a class="is-blue-100" href="https://docs.vespa.ai/en/getting-started.html">Download</a>,
                        or use our <a class="is-blue-100" href="https://cloud.vespa.ai">cloud service</a>.</div>
                </div>
            </div>
            <div class="col section-cover--image xs-hide sm-hide"></div>
        </div>
    </div>
</div>
