<!-- Copyright Vespa.ai. All rights reserved. -->
<!-- Cover -->
<div class="container-full is-marginless container-cover">
    <div class="container-full is-marginless section-cover-banner has-bg-brand-200">
        <div class="row has-bg-brand-200">
            <div class="col-1-1">
                <p><img class="hide-small-desktop-down" src="/assets/gigaom-2024-leader-badge.png" height="50" alt="gigaom 2024 leader badge"/>
                    <a href="https://content.vespa.ai/gigaom-report-2024">GigaOm Radar Sonar for Vector Databases
                    Positions Vespa as a Leader and Forward Mover</a></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row section-cover">
            <div class="xs-col-1-1 sm-col-1-1 md-col-5-12 lg-col-5-12 xl-col-5-12 flex-column align-self-center">
                <div class="section-text">
                    <h1>Big Data + AI, online.</h1>
                    <div class="paragraph-header">Apply AI to your data, online. At any scale, with unbeatable performance.</div>
                    <div class="flex tablet-down-flex-column m-y-13">
                        <a class="button is-solid is-inverse is-large m-y-5"
                            href="https://cloud.vespa.ai/en/getting-started">Get Started</a>
                        <a class="button is-text is-inverse is-large m-y-5"
                            href="#open-video-modal"><i class="d-icon d-play-circle is-small"></i>Watch Video</a>
                        {% include youtube-modal.html videoId="V3c5p2JopzQ" %}
                    </div>
                    <div class="flex align-items-center flex-wrap">
                        <div class="paragraph"><span>Open source:</span>
                            <a class="is-brand-700" href="https://docs.vespa.ai/en/getting-started.html">download</a>,
                            or use our <a class="is-brand-700" href="https://cloud.vespa.ai">cloud service</a>.</div>
                    </div>
                </div>
            </div>
            <div class="col section-cover--image xs-hide sm-hide"></div>
        </div>
    </div>
</div>
