    <!-- Description -->
    <section id="description">
        <div class="container">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10 text-left">
                    <p class="large">
                        Your big data processing and serving system - deep learning, search applications, ad selection system, personalized recommendation systems, and more...
                    </p>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </section>
