    <!-- Features Section -->
    <section id="features" class="bg-light-blue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <h3 class="section-subheading text-muted">A few of Vespa high-level features.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <img src="{{ site.baseurl }}/img/features/api.svg" class="img-responsive center-block">
                    <div class="feature-text feature-title">Simple API</div>
                    <div class="feature-text feature-title">JSON REST APIs</div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <img src="{{ site.baseurl }}/img/features/time.svg" class="img-responsive center-block">
                    <div class="feature-text feature-title">Real Time</div>
                    <div class="feature-text feature-title">UI friendly response times.</div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <img src="{{ site.baseurl }}/img/features/fault.svg" class="img-responsive center-block">
                    <div class="feature-text feature-title">Fault Tolerant</div>
                    <div class="feature-text feature-title">Data is automatically redistributed to new machines.</div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <img src="{{ site.baseurl }}/img/features/flexible.svg" class="img-responsive center-block feature-icon">
                    <div class="feature-text feature-title">Flexible</div>
                    <div class="feature-text feature-title">Many power user features supporting lots of use cases.</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <img src="{{ site.baseurl }}/img/features/large-scale.svg" class="img-responsive center-block">
                    <div class="feature-text feature-title">Large Scale Applications</div>
                    <div class="feature-text feature-title">100k queries per second, tens of billions of documents.</div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <img src="{{ site.baseurl }}/img/features/configure.svg" class="img-responsive center-block">
                    <div class="feature-text feature-title">Configure Redundancies</div>
                    <div class="feature-text feature-title">The redundancy you want.</div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <img src="{{ site.baseurl }}/img/features/infrastructure.svg" class="img-responsive center-block">
                    <div class="feature-text feature-title">Supports Modern Infrastructure</div>
                    <div class="feature-text feature-title">Runs on Docker, CentOS and more.</div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <img src="{{ site.baseurl }}/img/features/updates.svg" class="img-responsive center-block feature-icon">
                    <div class="feature-text feature-title">Live Updates and Configurations</div>
                    <div class="feature-text feature-title">No need for down time.</div>
                </div>
            </div>

            <div class="row">
                <a href="http://docs.vespa.ai/documentation/vespa-quick-start.html" class="btn btn-default intro-button">More Features</a> 
            </div>
        </div>
    </section>
