    <!-- Architecture Section -->
    <section id="featurematrix" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Feature comparison matrix</h2>
                    <h3 class="section-subheading text-muted">It is not always easy to compare apples to oranges, but we will give it a try nonetheless.</h3>
                </div>
            </div>
            <div class="row">
                <table class="table">
                    <colgroup>
                        <col class="col-xs-6">
                        <col class="col-xs-2">
                        <col class="col-xs-2">
                        <col class="col-xs-2">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Feature</th>
                            <th class="text-center">Vespa</th>
                            <th class="text-center">Elastic Search</th>
                            <th class="text-center" class="text-nowrap">Relational Databases</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ACID transactions</td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center">•••</td>
                        </tr>
                        <tr>
                            <td>Optimized for analytics</td>
                            <td class="text-center"></td>
                            <td class="text-center">•••</td>
                            <td class="text-center">••</td>
                        </tr>
                        <tr>
                            <td>Optimized for serving</td>
                            <td class="text-center">•••</td>
                            <td class="text-center">•</td>
                            <td class="text-center">••</td>
                        </tr>

                        <tr>
                            <td>Scalable</td>
                            <td class="text-center">•••</td>
                            <td class="text-center">••</td>
                            <td class="text-center">•</td>
                        </tr>

                        <tr>
                            <td>Easy to operate at scale</td>
                            <td class="text-center">••</td>
                            <td class="text-center"></td>
                            <td class="text-center">•</td>
                        </tr>

                        <tr>
                            <td>Text search</td>
                            <td class="text-center">•••</td>
                            <td class="text-center">••</td>
                            <td class="text-center">•</td>
                        </tr>

                        <tr>
                            <td>Machine learned ranking</td>
                            <td class="text-center">•••</td>
                            <td class="text-center">•</td>
                            <td class="text-center"></td>
                        </tr>

                        <tr>
                            <td>Middleware logic container</td>
                            <td class="text-center">•••</td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>

                        <tr>
                            <td>Live reconfiguration</td>
                            <td class="text-center">•••</td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
