    <!-- Features Section -->
    <section id="features" class="bg-light-blue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <h3 class="section-subheading text-muted">Vespa's high-level features.</h3>
                </div>
            </div>

            <!-- First row of features -->
            <div class="row feature-row">
                <div class="col-md-3">
                    <div class="feature-icon"><img src="{{ site.baseurl }}/img/features/api.svg" width="111" height="80"></div>
                    <div class="feature-text feature-title">Search and filter</div>
                    <div class="feature-text">
                      Combine structured queries and text search to select data for processing and responses.
                      <a href="http://docs.vespa.ai/documentation/query-language.html">Read more</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature-icon"><img src="{{ site.baseurl }}/img/features/configure.svg" width="80" height="91"></div>
                    <div class="feature-text feature-title">Advanced ranking</div>
                    <div class="feature-text">
                      Deploy ML models, from dot products to deep neural nets for ranking and recommendation.
                      <a href="http://docs.vespa.ai/documentation/ranking.html">Read more</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature-icon"><img src="{{ site.baseurl }}/img/features/fault.svg" width="99" height="98"></div>
                    <div class="feature-text feature-title">Organize and aggregate</div>
                    <div class="feature-text">
                      Group and aggregate all data matching queries, in real time.
                      <a href="http://docs.vespa.ai/documentation/grouping.html">Read more</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature-icon"><img src="{{ site.baseurl }}/img/features/time.svg" width="85" height="86"></div>
                    <div class="feature-text feature-title">Realtime</div>
                    <div class="feature-text">
                      UI friendly response times, instant writes at high volume.
                      <a href="http://docs.vespa.ai/documentation/writing-to-vespa.html">Read more</a>
                    </div>
                </div>
            </div>

            <!-- Second row of features -->
            <div class="row feature-row">
                <div class="col-md-3">
                    <div class="feature-icon"><img src="{{ site.baseurl }}/img/features/flexible.svg" width="117" height="85"></div>
                    <div class="feature-text feature-title">Scalable and fast</div>
                    <div class="feature-text">
                      Optimized for thousands of queries per second and billions of documents.
                      <a href="http://docs.vespa.ai/documentation/performance/index.html">Read more</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature-icon"><img src="{{ site.baseurl }}/img/features/large-scale.svg" width="93" height="93"></div>
                    <div class="feature-text feature-title">Elastic and fault tolerant</div>
                    <div class="feature-text">
                      Add, remove and replace machines while live and without losing data.
                      <a href="http://docs.vespa.ai/documentation/elastic-vespa.html">Read more</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature-icon"><img src="{{ site.baseurl }}/img/features/infrastructure.svg" width="101" height="101"></div>
                    <div class="feature-text feature-title">Pluggable</div>
                    <div class="feature-text">
                      Deploy your own Java components to implement custom logic.
                      <a href="http://docs.vespa.ai/documentation/jdisc/index.html">Read more</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature-icon"><img src="{{ site.baseurl }}/img/features/updates.svg" width="92" height="89"></div>
                    <div class="feature-text feature-title">Easy to operate</div>
                    <div class="feature-text">
                      Configure multi-cluster systems with a few lines of config - change config and code while serving.
                      <a href="http://docs.vespa.ai/documentation/cloudconfig/config-introduction.html">Read more</a>
                    </div>
                </div>
            </div>

            <!-- Features button -->
            <div class="row">
                <div class="col-md-12 features-button">
                    <a href="http://docs.vespa.ai/documentation/features.html" class="btn btn-default">See more</a> 
                </div>
            </div>
        </div>
    </section>
