    <!-- Features Section -->
    <section id="features" class="bg-light-blue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <h3 class="section-subheading text-muted">A few of Vespa high-level features.</h3>
                </div>
            </div>


            <!-- First row of features -->
            <div class="row feature-row">
                <div class="col-md-2">
                    <div class="feature-icon"><img src="{{ site.baseurl }}/img/features/api.svg" width="111" height="80"></div>
                    <div class="feature-text feature-title">Simple API</div>
                    <div class="feature-text">JSON REST APIs</div>
                </div>
                <div class="col-md-2 col-md-offset-1">
                    <div class="feature-icon"><img src="{{ site.baseurl }}/img/features/time.svg" width="85" height="86"></div>
                    <div class="feature-text feature-title">Real Time</div>
                    <div class="feature-text">UI friendly response times.</div>
                </div>
                <div class="col-md-2 col-md-offset-1">
                    <div class="feature-icon"><img src="{{ site.baseurl }}/img/features/fault.svg" width="99" height="98"></div>
                    <div class="feature-text feature-title">Fault Tolerant</div>
                    <div class="feature-text">Data is automatically redistributed to new machines.</div>
                </div>
                <div class="col-md-2 col-md-offset-1">
                    <div class="feature-icon"><img src="{{ site.baseurl }}/img/features/flexible.svg" width="117" height="85"></div>
                    <div class="feature-text feature-title">Flexible</div>
                    <div class="feature-text">Many power user features supporting lots of use cases.</div>
                </div>
            </div>


            <!-- Second row of features -->
            <div class="row feature-row">
                <div class="col-md-2">
                    <div class="feature-icon"><img src="{{ site.baseurl }}/img/features/large-scale.svg" width="93" height="93"></div>
                    <div class="feature-text feature-title">Large Scale Applications</div>
                    <div class="feature-text">100k queries per second, tens of billions of documents.</div>
                </div>
                <div class="col-md-2 col-md-offset-1">
                    <div class="feature-icon"><img src="{{ site.baseurl }}/img/features/configure.svg" width="80" height="91"></div>
                    <div class="feature-text feature-title">Configure Redundancies</div>
                    <div class="feature-text">The redundancy you want.</div>
                </div>
                <div class="col-md-2 col-md-offset-1">
                    <div class="feature-icon"><img src="{{ site.baseurl }}/img/features/infrastructure.svg" width="101" height="101"></div>
                    <div class="feature-text feature-title">Supports Modern Infrastructure</div>
                    <div class="feature-text">Runs on Docker, CentOS and more.</div>
                </div>
                <div class="col-md-2 col-md-offset-1">
                    <div class="feature-icon"><img src="{{ site.baseurl }}/img/features/updates.svg" width="92" height="89"></div>
                    <div class="feature-text feature-title">Live Updates and Configurations</div>
                    <div class="feature-text">No need for down time.</div>
                </div>
            </div>

            <!-- Features button -->
            <div class="row">
                <div class="col-md-12 features-button">
                    <a href="http://docs.vespa.ai/documentation/vespa-quick-start.html" class="btn btn-default">More Features</a> 
                </div>
            </div>
        </div>
    </section>
