    <!-- Architecture Section -->
    <section id="featurematrix" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Feature comparison matrix</h2>
                    <h3 class="section-subheading text-muted">It is not always easy to compare apples to oranges, but we will give it a try nonetheless.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Feature</th>
                                <th width="150">Vespa</th>
                                <th width="150">Elastic Search</th>
                                <th width="150">Traditional RDBMs</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Transactional support</td>
                                <td></td>
                                <td></td>
                                <td>+++</td>
                            </tr>
                            <tr>
                                <td>Efficient and flexible search algorithms</td>
                                <td>+++</td>
                                <td>++</td>
                                <td>+</td>
                            </tr>
                            <tr>
                                <td>Optimized search core for large machines</td>
                                <td>+++</td>
                                <td></td>
                                <td>++</td>
                            </tr>

                            <tr>
                                <td>Built for very large scale</td>
                                <td>+++</td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>Easy to install and get started</td>
                                <td>+</td>
                                <td>+++</td>
                                <td>+++</td>
                            </tr>

                            <tr>
                                <td>Machine learning calculations supported natively</td>
                                <td>+++</td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>Runs in data centers or on local servers</td>
                                <td>+++</td>
                                <td>+++</td>
                                <td>+</td>
                            </tr>

                            <tr>
                                <td>Real-time feeding and indexing</td>
                                <td>+++</td>
                                <td>+++</td>
                                <td>+++</td>
                            </tr>

                            <tr>
                                <td>Live upgrade, live rescaling, live node replacement, live changes to search definitions</td>
                                <td>+++</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
