<!-- Copyright Vespa.ai. All rights reserved. -->
<!-- Footer -->
<div class="container-full is-marginless has-bg-brand-400">
    <div class="container">
        <div class="row p-y-55">
            <div class="xs-col-1-1 sm-col-1-1 md-col-1-2 lg-col-1-2 xl-col-1-2 flex flex-row space-between">
                {% for column in include.footerlinks %}
                    <div class="flex-column">
                        <p class="upper section-footer--header is-brand-300">{{column.header}}</p>
                        {% for link in column.links %}
                            <a class="section-footer--link" href="{{link.link}}">{{link.title}}</a><br>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="col section-footer--copyright">
                <h6 class="is-brand-300">Copyright Vespa.ai</h6>
            </div>
        </div>
    </div>
</div>
