<!-- Copyright Vespa.ai. All rights reserved. -->
<!-- CTA -->
<div class="container-full is-marginless has-bg-brand-200 section-gettingstarted">
    <div class="container">
        <div class="row">
            <div class="xs-col-1-1 sm-col-1-1 md-col-1-1 lg-col-1-1 xl-col-1-1 gettingstarted-box">
                <h1>Get Started today</h1>
                <p class="paragraph-header">
                    Vespa lets you do selection, organization and machine-learned model inference
                    over billions of constantly changing data items,
                    serving thousands of queries per second with latency below 100 milliseconds.
                </p>
                <p class="paragraph">
                    Run it yourself, or try the Vespa cloud service for free.
                </p>
                <a href="https://docs.vespa.ai/en/getting-started.html" class="section-gettingstarted--button button is-solid is-large is-inverse">Get Started</a>
            </div>
        </div>
    </div>
</div>
