<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="http://docs.vespa.ai">Docs</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://github.com/vespa-engine">GitHub</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://github.com/vespa-engine/vespa/issues">Issues</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="layer">
            <div class="intro container">
                <div class="intro-logo container"><img src="{{ site.baseurl }}/img/VespaIcon.png" class="img-responsive center-block"/></div>
                <div class="intro-lead-in">Big data. Real time.</div>
                <div class="intro-long">Your big data processing and serving system - deep learning, search applications, ad selection system, personalized recommendation systems, and more...</div>
                <a href="http://docs.vespa.ai/documentation/vespa-quick-start.html" class="btn btn-xl intro-button">Get Started Now</a>
            </div>
        </div>
    </header>
