    <!-- In the news Section -->
    <section id="inthenews">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">In the news</h2>
                    <h3 class="section-subheading text-muted">Read more about Vespa and how it is used in the articles below</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    {% for article in site.data.featuredlinks.articles %}
                        <a href="{{ article.link }}"><img class="featuredlogo" src="{{ site.baseurl }}/img/logos/{{ article.logo }}" width="120px" alt="{{ article.name }}"/></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>