<!-- Copyright Vespa.ai. All rights reserved. -->
<script>
    function toggleMenu() {
        document.getElementById("navMenu").classList.toggle('is-active');
    }

    /* SealMetrics Tracker Code - no third-party tracking, no cookies, just for our internal tracking use */
    var oSm = window.oSm || {};
    oSm.account = '65a68a95602bef0a1d6c1fd4';
    oSm.event = 'pageview';
    !function(e){var t="//app.sealmetrics.com/tag/tracker";window.oSm=oSm,window.smTrackerLoaded?sm.tracker.track(e.event):Promise.all([new Promise(function(e){var n=document.createElement("script");n.src=t,n.async=!0,n.onload=function(){e(t)},document.getElementsByTagName("head")[0].appendChild(n)})]).then(function(){sm.tracker.track(e.event)})}(oSm);
    /* End SealMetrics Tracker Code */
</script>
