<!-- Architecture Section -->
<header id="meetups">
    <div class="intro container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="intro-lead-in">Meetups</div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-left"><p>Tel Aviv 2019-03-XX</p></div>
                <div class="col-lg-8 text-left">
                    <a href="/">Vespa - the open source big data serving engine - details TBD</a></div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-left"><p>Sunnyvale 2018-12-05</p></div>
                <div class="col-lg-8 text-left">
                    <a href="/">Vespa - the open source big data serving engine</a></div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-left"><p>Seattle 2018-11-29</p></div>
                <div class="col-lg-8 text-left">
                    <a href="https://zillow.recsolu.com/external/events/VMuwf_D9TINXJel05xz3gQ">
                        Vespa - the open source big data serving engine</a></div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-left"><p>Trondheim 2018-11-21</p></div>
                <div class="col-lg-8 text-left">
                    <a href="https://www.meetup.com/Trondheim-Big-Data/events/256064848">
                        Scaling up ONNX and TensorFlow model evaluation</a></div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-left"><p>San Francisco 2018-09-26</p></div>
                <div class="col-lg-8 text-left">
                    <a href="https://www.meetup.com/SF-Big-Analytics/events/254461052/">
                        Vespa - the open source big data serving engine</a></div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-left"><p>Berlin 2018-05-24</p></div>
                <div class="col-lg-8 text-left">
                    <a href="https://www.meetup.com/eBay-Europe-Technology/events/250408294/">
                        Vespa - the open source big data serving engine</a></div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-left"><p>Tokyo 2018-03-13</p></div>
                <div class="col-lg-8 text-left">
                    <a href="https://yj-meetup.connpass.com/event/79031/">
                        Vespa</a></div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-left"><p>Trondheim 2017-11-01</p></div>
                <div class="col-lg-8 text-left">
                    <a href="https://www.meetup.com/Trondheim-Big-Data/events/244371688/">
                        Vespa - the open big data serving engine</a></div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-left"><p>Trondheim 2017-09-28</p></div>
                <div class="col-lg-8 text-left">
                    <a href="https://www.meetup.com/Trondheim-Big-Data/events/243711977/">
                        Vespa Open source</a></div>
            </div>
        </div>
    </div>

    <div class="intro container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="intro-lead-in">Conferences</div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-left"><p>Marbella 2019-05-16</p></div>
                <div class="col-lg-8 text-left">
                    <a href="https://jonthebeach.com/schedule#75">J on the Beach</a>:
                    Big data serving: The last frontier. Processing and inference at scale in real-time
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-left"><p>Warsaw 2019-02-27</p></div>
                <div class="col-lg-8 text-left">
                    <a href="http://blog.vespa.ai/post/182653197391/join-us-at-the-big-data-technology-warsaw-summit">Big Data Technology Warsaw Summit</a>:
                    Scalable machine-learned model serving</div>
            </div>
        </div>
    </div>
</header>
