<!-- Copyright Verizon Media. All rights reserved. -->
<!-- Navbar -->
<nav class="nav sticky-top {{include.class}}">
    <div class="nav-left">
        <span class="nav-item hide-small-desktop-up" onclick="toggleMenu()"><i class="d-icon d-menu-hamburger"></i></span>
        <a href="{{ site.baseurl }}/"><img class="nav-brand" src="assets/{{include.logo}}" alt="Vespa logo"/></a>
        <div class="float-right hide-small-desktop-up">
            <a class="nav-item" href="search"><i class="d-icon d-search"></i></a>
        </div>
    </div>
    <div id="navMenu" class="nav-responsive">
        <div class="nav-center">
            <a class="nav-item" href="https://docs.vespa.ai/en/getting-started.html">Get Started</a> <!-- in later versions , I think "getting started" should be a site page, not in docs.vespa.ai -->
            <a class="nav-item" href="usecases">Use cases</a>
            <a class="nav-item" href="features">Features</a>
            <div class="menu menu--nav">
                <div class="nav-item menu-trigger">Documentation<i class="d-icon d-arrowhead-down is-small"></i></div>
                <div class="menu-content">
                    <a href="https://docs.vespa.ai/">Vespa Documentation <i class="d-icon is-sub is-extrasmall"></i></a>
                    <a href="/vespa-elastic-solr">Vespa and ElasticSearch / Solr<i class="d-icon is-sub is-extrasmall"></i></a>
                    <a href="/migrating-from-elastic-search-to-vespa">Migrating from Elasticsearch<i class="d-icon is-sub is-extrasmall"></i></a>
                </div>
            </div>
            <a class="nav-item" href="https://blog.vespa.ai/">Blog <i class="d-icon d-external is-sub is-extrasmall"></i></a>
            <div class="menu menu--nav">
                <div class="nav-item menu-trigger">Vespa Cloud<i class="d-icon d-arrowhead-down is-small"></i></div>
                <div class="menu-content">
                    <a href="https://cloud.vespa.ai/">Vespa Cloud <i class="d-icon d-external is-sub is-extrasmall"></i></a>
                    <a href="https://console.vespa.oath.cloud/">Vespa Cloud Console <i class="d-icon d-external is-sub is-extrasmall"></i></a>
                </div>
            </div>
        </div>
        <div class="nav-right">
            <div class="nav-item section-searchbar hide-desktop-down">
                <form action="search" method="GET">
                    <div class="input-group has-button">
                        <div class="input">
                            <input type="text" class="section-searchbar" placeholder="Search" id="searchinput" name="q" />
                        </div>
                        <button class="button is-solid has-icon p-0 section-searchbar"><i class="d-icon d-search"></i></button>
                    </div>
                </form>
            </div>
            <a class="nav-item hide-hd-up" href="search">
                <i class="d-icon d-search"></i><span class="icon-name">Search</span></a>
            <a class="nav-item" href="http://slack.vespa.ai">
                <i class="d-icon d-slack"></i><span class="icon-name">Slack</span></a>
            <a class="nav-item" href="https://github.com/vespa-engine/vespa">
                <i class="d-icon d-github"></i><span class="icon-name">Github</span></a>
            <a class="nav-item" href="support">
                <i class="d-icon d-help-circle"></i><span class="icon-name">Help</span></a>
        </div>
    </div>
</nav>
