<!-- Copyright Vespa.ai. All rights reserved. -->
<!-- Features -->
<div class="container">
    <div class="row">
        <div class="section-pitch">
            <h1>Building something real?</h1>
            <p>
              To build production-worthy online applications that combine data and AI,
              you need more than point solutions:  You need a platform that integrates
              data and compute to achieve true scalability and availability - and which
              does this without limiting your freedom to innovate. Only Vespa does this.
            </p>
        </div>
    </div>
</div>
