<!-- Copyright Vespa.ai. All rights reserved. -->
<!-- Features -->
<div class="container">
    <div class="row">
        <div class="section-pitch">
            <h1>Building something real?</h1>
            <p>
                You'll need to co-locate vectors, metadata and content on the same item on the same node,
                run inference there to achieve scalable performance, and seamlessly scale this across nodes to handle
                any amount of data and traffic. Vespa does all this for you so you can focus on building your
                application.
            </p>
        </div>
    </div>
</div>
