<!-- Copyright Vespa.ai. All rights reserved. -->
<!-- Usecases -->
<div class="container-full is-marginless has-bg-brand-200">
    <div class="container section-usecases">
        <div class="row">
            <div class="xs-col-1-1">
                <h1>What is Vespa used for?</h1>
            </div>
        </div>
        <div class="container-usecases">
            {% for usecase in include.usecases %}
                {% assign reversed = forloop.index0 | modulo: 2 %}
                {% if reversed == 0 %}
                    <!-- Usecase Item -->
                    <div class="row">
                        <div class="md-hide lg-hide xl-hide image-usecase">
                            <img width="{{usecase.imagewidth}}" src="{{usecase.image}}" alt="Usecase illustration">
                        </div>
                        <div class="xs-col-1-1 md-col-1-2 lg-col-6-12 xl-col-6-12 text-usecase">
                            <h2>{{usecase.title}}</h2>
                            <p>{{usecase.description}} {% if usecase.link %}  <a class="more" href="{{usecase.link}}">more <i class="d-icon d-arrow-right is-small"></i></a>{% endif %}</p>
                        </div>
                        <div class="xs-hide sm-hide image-usecase">
                            <img width="{{usecase.imagewidth}}" src="{{usecase.image}}" alt="Usecase illustration">
                        </div>
                    </div>
                {% else %}
                    <!-- Usecase Item Reversed -->
                    <div class="row">
                        <div class="image-usecase">
                            <img width="{{usecase.imagewidth}}" src="{{usecase.image}}" alt="Usecase illustration">
                        </div>
                        <div class="xs-col-1-1 md-col-1-2 lg-col-6-12 xl-col-6-12 text-usecase">
                            <h2>{{usecase.title}}</h2>
                            <p>{{usecase.description}} {% if usecase.link %}  <a class="more" href="{{usecase.link}}">more <i class="d-icon d-arrow-right is-small"></i></a>{% endif %}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="xs-col-1-1">
                <a class="more-usercases" href="usecases#personal-search">More use cases <i class="d-icon d-arrow-right is-small"></i></a>
            </div>
        </div>
    </div>
</div>
