<!-- Copyright Yahoo. All rights reserved. -->
<div class="container-full is-marginless has-bg-grey-300">
    <div class="container p-y-15">
        <div class="row">
            <div class="col">
                <h1 class="is-brand-500 m-t-20">Companies who take their data and AI online build on Vespa</h1>
            </div>
        </div>
        <div class="row">
            {% for user in include.users %}
            <div class="xs-col-1-1 sm-col-1-1 md-col-1-3 lg-col-1-3 xl-col-1-3">
                <div style="height: 150px; position:relative" class="p-30" title="{{user.text}}">
                    {% assign logo_position_from_center = user.logoheight | divided_by: -2 %}
                    <a href="{{user.link}}">
                    <img src="{{ site.baseurl }}/{{user.logo}}" alt="{{user.alt}}"
                         style="position:absolute; top:50%;
                             height:{{user.logoheight}}px;
                             margin-top:{{logo_position_from_center}}px;">
                    </a>
                </div>
                <!-- p class="p-30 {{user.gapclass}}">{{user.text}}</p -->
            </div>
            {% endfor %}
        </div>
    </div>
</div>
