<!-- Copyright Vespa.ai. All rights reserved. -->
<div class="container-full is-marginless has-bg-brand-200">
    <div class="container">
        <div class="row section-users">
            <h1>Companies who take their data and AI online build on Vespa</h1>
            {% for user in include.users %}
                <div class="xs-col-1-1 sm-col-1-1 md-col-1-2 lg-col-1-4 xl-col-1-4">
                    <div class="user-logo">
                        <a href="{{user.link}}">
                            <img src="{{ site.baseurl }}/{{user.logo}}" alt="{{user.alt}}" title="{{user.text}}">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
