
<!-- Youtube modal -->
<script>
    // Load Youtube IFrame Player API to pause video when closing modal
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
</script>

<div id="open-video-modal" class="modal">
    <div class="modal-container section-cover--video-modal">
        <script>
            function pauseVideo() {
                document.getElementById('modal-video-frame').contentWindow.postMessage('{"event":"command","func":"pauseVideo","args":""}', '*');
            }
        </script>
        <a href="#close" class="close" onclick="pauseVideo();"><i class="d-icon d-close"></i></a>
        <div class="modal-content">
            <iframe id="modal-video-frame" src="https://www.youtube.com/embed/{{include.videoId}}?enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
