.bg-light-blue {
    background-image: linear-gradient(-1deg, rgba(63,157,216,0.08) 0%, rgba(163, 195, 215, 0.08) 97%);
}

section h2.section-heading,
section h2.section-subheading,
section h3.section-heading,
section h3.section-subheading {
    text-transform: none;
    font-family: {{ site.data.template.font.secondary }};
    font-weight: normal;
    font-style: normal;
}

section h2.section-heading,
section h3.section-heading {
    font-size: 50px;
    color: #3F9DD8;
    margin-bottom: 5px;
}

section h2.section-subheading,
section h3.section-subheading {
    line-height: 26px;
    margin-top: 0;
}

.text-muted {
    color: #303030;
}

.navbar-default {
    background-color: #3F9DD8;
    padding: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.navbar-default .navbar-brand {
    background: transparent url({{ site.baseurl }}/img/Vespa-V2.png) no-repeat;
    background-size: contain;
    direction: ltr;
    text-indent: -9000px;
    height: 40px;
    width: 194px;
    display: inline-block;
    font-family: {{ site.data.template.font.primary }};
    font-weight: bold;
    color: #{{ site.data.template.color.primary }};
    margin-top: 12px;
    margin-left: 10px;
}

.navbar-default .nav li a {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-transform: none;
    font-family: {{ site.data.template.font.primary }};
}

.navbar-toggle {
    margin-right: 45px;
}

header {
    background-image: linear-gradient(0deg, #98C1DB 7%, #3F9DD8 100%);
    min-height: 100vh;
}

header .intro {
    max-width: 350px;
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-logo {
    max-width: 120px;
    padding-bottom: 30px;
}

header .intro-button {
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    padding-left: 50px;
    padding-right: 50px;
}

header .intro-long {
    line-height: 27px;
    font-size: 16px;
    padding-bottom: 60px;
}

header .intro .intro-lead-in {
    font-style: normal;
    font-size: 22px;
    line-height: 50px;
    margin-bottom: 25px;
    font-family: {{ site.data.template.font.secondary }};
}

header .intro .intro-heading {
    font-style: normal;
}

header .intro-button {
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
}

header .intro .btn-xl {
    background: #FFFFFF;
    border: 1px solid #3F9DD8;
    border-radius: 2px;
    font-size: 20px;
    color: #3F9DD8;
    font-weight: normal;
    text-transform: none;
    font-family: {{ site.data.template.font.primary }};
}

@media(min-width: 768px) {
    header .intro {
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 620px;
    }

    header .intro-logo {
        max-width: 238px;
        padding-bottom: 70px;
    }

    header .intro .intro-lead-in {
        font-size: 50px;
        font-style: normal;
        line-height: 50px;
    }

    header .intro .intro-long {
        margin-left: 80px;
        margin-right: 80px;
    }

    header .intro .intro-heading {
        margin-bottom: 25px;
        font-size: 90px;
        font-weight: 600;
    }
}

section {
    padding: 50px 0;
}

section h3.section-subheading {
    margin-bottom: 50px;
    font-weight: normal;
}

@media(min-width: 768px) {
    section {
        padding: 50px 0;
    }
}

footer .row {
    font-size: 12px;
    text-align: left;
}

footer .row h4 {
    font-size: 14px;
    padding-left: 40px;
}

footer .row .quicklinks {
    line-height: 25px;
    list-style: none;
    text-align: left;
}

footer .credits {
    font-size: 10px;
    text-align: center;
}

#description p {
    font-weight: 300;
    font-size: 25px;
}

#features .feature-text {
    font-family: {{ site.data.template.font.primary }};
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    padding-bottom: 5px;
}

#features .feature-title {
    font-weight: bold;
    padding-bottom: 10px;
}

#features .feature-icon {
    height: 130px;
    position: relative;
}

#features .feature-icon img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
}

#features .feature-row {
    padding-bottom: 30px;
}

#features .features-button {
    text-align: center;
    padding-top: 20px;
}

#features .features-button a {
    background: #FFFFFF;
    border: 1px solid #3C99EF;
    border-radius: 2px;
    color: #3C99EF;
    padding-left: 50px;
    padding-right: 50px;
}

#featurematrix .table {
    font-weight: normal;
    line-height: 57px;
    font-family: {{ site.data.template.font.secondary }};

}

#featurematrix .table th {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: rgba(48, 48, 48, 0.5);
}

#featurematrix .table tbody tr {
    border-top: 1px solid #D8D8D8;
}

footer {
    font-size: 14px;
    color: #FFFFFF;
    background-color: #3F9DD8;
    line-height: 22px;
    letter-spacing: 0;
}

footer .footer-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}


footer quicklinks {
    font-size: 14px;
    color: #FFFFFF;
}


footer ul.quicklinks {
    margin: 0;
    padding: 0;
}

footer .footer-title {
    color: #FFC43C;
    text-transform: uppercase;
    font-weight: bold;
}

footer ul.quicklinks a {
    color: #FFFFFF;
}

footer .quicklink-section {
    padding: 0;
    min-width: 120px;
}

footer .credits {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    text-align: right;
    padding: 0;
    font-family: {{ site.data.template.font.secondary }};
}

footer .credits a {
    color: #FFFFFF;
}

footer .copyright {
    color: #FFC43C;
}
